Repository hhu-propra2/abschlussprojekt-mopse, pull requests merged in 2020-03, with the labels that each got.

#16 FIX: gradle
  build.gradle
  config/checkstyle/checkstyle.xml
  config/pmd/pmd.xml
  src/main/java/mops/Material1Application.java
  src/main/resources/application.properties
  src/test/java/mops/Material1ApplicationTests.java
Labels: bug, setup

#23 CHANGE: exclude another pmd rule
  config/pmd/pmd.xml
Labels: test

#17 ADD: docker files & basic spring application properties.
  .dockerignore
  .gitignore
  .idea/runConfigurations/Material1Application___dev.xml
  .idea/runConfigurations/docker_compose_yml__Compose_Deployment.xml
  Dockerfile
  docker-compose.yml
  prod-template.env
  src/main/resources/application-dev.properties
  src/main/resources/application-prod.properties
  src/main/resources/application.properties
  update_docker_images.bat
  update_docker_images.sh
Labels: docker, enhancement, setup

#26 FIX: checkstyle line length
  config/checkstyle/checkstyle.xml
Labels: test

#27 FIX: checkstyle allow star imports
  config/checkstyle/checkstyle.xml
Labels: test

#29 FIX: use gradle wrapper in docker build
  Dockerfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: docker, setup

#25 ADD: simple github ci workflow
  .github/workflows/gradle.yml
Labels: setup

#28 Feature/prometheus setup
  src/main/resources/application.properties
Labels: docker, setup

#39 FIX: do not run github ci workflow when only editing docs
  .github/workflows/gradle.yml
Labels: documentation, test

#41 UPDATE: readme
  README.adoc
  README.md
Labels: documentation

#42 UPDATE: ignore checks for .md and .adoc
  .github/workflows/gradle.yml
Labels: documentation

#44 FIX: use different pattern
  .github/workflows/gradle.yml
Labels: documentation

#45 Feature/documentation
  doc/documentation/06_runtime_view.adoc
  doc/documentation/07_concepts.adoc
  doc/documentation/08_design_decisions.adoc
  doc/documentation/09_quality_scenarios.adoc
  doc/documentation/10_glossary.adoc
Labels: documentation

#46 Doc/request modeling
  doc/RequestModeling.adoc
Labels: documentation

#50 ADD: basic tests for security config
  src/test/java/mops/SecurityTests.java
Labels: test

#49 ADD: gh actions badge.
  README.md
Labels: documentation

#54 UPDATE: mops style to 2.1.0
  build.gradle
Labels: gradle

#53 Doc/request modeling
  doc/RequestModeling.adoc
Labels: documentation

#73 ADD: Entity Relationship model from the Database
  doc/documentation/images/ER-Modell.png
Labels: documentation

#72 FIX: DB connector
  .idea/runConfigurations/docker_compose_yml__MariaDB.xml
  build.gradle
  src/main/resources/application-dev.properties
  src/main/resources/application-prod.properties
  src/main/resources/application.properties
Labels: database, setup

#77 ADD: Feature/archunit tests
  src/main/java/mops/security/KeycloakConfig.java
  src/main/java/mops/security/SecurityConfig.java
  src/main/java/mops/utils/AggregateRoot.java
  src/test/java/mops/ArchitectureRulesTest.java
  src/test/java/mops/HaveExactlyOneAggregateRoot.java
  src/test/java/mops/SecurityTests.java
Labels: test

#79 ADD: complete documentation 2
  doc/documentation/01_introduction_and_goals.adoc
  doc/documentation/02_architecture_constraints.adoc
Labels: documentation

#84 UPDATE: name instead of id
  doc/documentation/03_system_scope_and_context.adoc
Labels: documentation

#83 FIX: MinIO docker dev container
  .gitignore
  .idea/runConfigurations/docker_compose_yml__MinIO.xml
  docker-compose.dev.yml
  update_docker_images.bat
  update_docker_images.sh
Labels: docker

#87 FIX: docker-compose on windows
  .gitattributes
  README.md
  docker-compose.yml
  gradlew.bat
Labels: docker

#88 UPDATE/REFORMAT: static analysis in tests
  build.gradle
  src/test/java/mops/ArchitectureRulesTest.java
  src/test/java/mops/HaveExactlyOneAggregateRoot.java
  src/test/java/mops/Material1ApplicationTests.java
  src/test/java/mops/SecurityTests.java
  src/test/java/mops/businesslogic/utils/AccountUtilTest.java
  src/test/java/mops/presentation/GroupsControllerTest.java
  src/test/java/mops/presentation/utils/SecurityContextUtil.java
Labels: test

#93 UPDATE: use long for ids
  src/main/java/mops/businesslogic/FileService.java
  src/main/java/mops/presentation/GroupController.java
Labels: bug

#92 Feature/directory controller
  doc/documentation/05_building_block_view.adoc
  src/main/java/mops/businesslogic/Account.java
  src/main/java/mops/businesslogic/DirectoryService.java
  src/main/java/mops/businesslogic/FileService.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/resources/templates/directory.html
  src/test/java/mops/Material1ApplicationTests.java
  src/test/java/mops/SecurityTests.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
  src/test/java/mops/presentation/GroupsControllerTest.java
Labels: enhancement

#91 FIX: use request attribute instead of parameter
  src/main/java/mops/presentation/DirectoryController.java
  src/main/java/mops/presentation/GroupController.java
Labels: bug

#103 HOTFIX: add minio_data/ to .dockerignore
  .dockerignore
Labels: docker

#101 Feature/group api
  doc/documentation/03_system_scope_and_context.adoc
  doc/documentation/05_building_block_view.adoc
  src/main/java/mops/businesslogic/GroupDirUrlWrapper.java
  src/main/java/mops/businesslogic/GroupService.java
  src/main/java/mops/presentation/GroupController.java
  src/test/java/mops/presentation/GroupControllerTest.java
Labels: enhancement

#106 ADD: feature/more ArchUnit Tests
  src/test/java/mops/ArchitectureRulesTest.java
Labels: test

#102 ADD: Database
  .idea/runConfigurations/All_in_material1_test.xml
  build.gradle
  config/pmd/pmd.xml
  doc/documentation/04_solution_strategy.adoc
  doc/documentation/05_building_block_view.adoc
  doc/documentation/10_glossary.adoc
  src/main/java/mops/businesslogic/DirectoryService.java
  src/main/java/mops/businesslogic/FileService.java
  src/main/java/mops/businesslogic/GroupService.java
  src/main/java/mops/persistence/Directory.java
  src/main/java/mops/persistence/DirectoryPermissionsRepository.java
  src/main/java/mops/persistence/DirectoryRepository.java
  src/main/java/mops/persistence/FileInfo.java
  src/main/java/mops/persistence/FileInfoRepository.java
  src/main/java/mops/persistence/directory/Directory.java
  src/main/java/mops/persistence/file/FileInfo.java
  src/main/java/mops/persistence/file/FileTag.java
  src/main/java/mops/persistence/permission/DirectoryPermissionEntry.java
  src/main/java/mops/persistence/permission/DirectoryPermissions.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/java/mops/presentation/GroupController.java
  src/main/java/mops/presentation/GroupsController.java
  src/main/resources/META-INF/additional-spring-configuration-metadata.json
  src/main/resources/application-dev.properties
  src/main/resources/application-prod.properties
  src/main/resources/schema.sql
  src/test/java/mops/ArchitectureRulesTest.java
  src/test/java/mops/Material1ApplicationTests.java
  src/test/java/mops/SecurityTests.java
  src/test/java/mops/SpringTestContext.java
  src/test/java/mops/persistence/directory/DirectoryTest.java
  src/test/java/mops/persistence/file/FileInfoTest.java
  src/test/java/mops/persistence/permission/DirectoryPermissionsTest.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
  src/test/java/mops/presentation/GroupsControllerTest.java
  src/test/java/mops/presentation/utils/SecurityContextUtil.java
  src/test/resources/application-test.properties
Labels: database, test

#113 Add management summary to read me
  README.md
Labels: documentation

#120 ADD: save artifact on ci check
  .github/workflows/gradle.yml
Labels: setup, test

#121 ADD: base exception class
  src/main/java/mops/exception/MopsException.java
  src/main/java/mops/persistence/FileRepository.java
  src/main/java/mops/persistence/StorageException.java
Labels: enhancement

#126 HOTFIX: always save artifacts
  .github/workflows/gradle.yml
Labels: test

#119 ADD: Timestamps to DB Objects
  src/main/java/mops/Material1Application.java
  src/main/java/mops/persistence/directory/Directory.java
  src/main/java/mops/persistence/file/FileInfo.java
  src/main/java/mops/persistence/file/FileTag.java
  src/main/java/mops/persistence/permission/DirectoryPermissionEntry.java
  src/main/java/mops/persistence/permission/DirectoryPermissions.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/java/mops/presentation/GroupController.java
  src/main/resources/schema.sql
  src/test/java/mops/persistence/directory/DirectoryTest.java
  src/test/java/mops/persistence/file/FileInfoTest.java
  src/test/java/mops/persistence/permission/DirectoryPermissionsTest.java
  src/test/resources/application-test.properties
Labels: database, enhancement

#128 HOTFIX: fixed issue with the layeredArchtitectureTest
  src/test/java/mops/ArchitectureRuleConfig.java
  src/test/java/mops/ArchitectureRulesTest.java
  src/test/java/mops/LayeredArchitectureTest.java
Labels: bug, test

#129 REFACTOR: use annotation based keycloak testing
  build.gradle
  doc/documentation/04_solution_strategy.adoc
  src/main/java/mops/Material1Application.java
  src/main/java/mops/businesslogic/DirectoryService.java
  src/main/java/mops/config/DatabaseConfig.java
  src/main/java/mops/config/KeycloakConfig.java
  src/main/java/mops/config/SecurityConfig.java
  src/test/java/mops/ArchitectureRulesTest.java
  src/test/java/mops/Material1ApplicationTests.java
  src/test/java/mops/SecurityTests.java
  src/test/java/mops/SpringTestContext.java
  src/test/java/mops/persistence/FileRepositoryTests.java
  src/test/java/mops/persistence/directory/DirectoryTest.java
  src/test/java/mops/persistence/file/FileInfoTest.java
  src/test/java/mops/persistence/permission/DirectoryPermissionsTest.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
  src/test/java/mops/presentation/FileControllerTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
  src/test/java/mops/presentation/GroupsControllerTest.java
  src/test/java/mops/presentation/utils/SecurityContextUtil.java
  src/test/java/mops/utils/DbContext.java
  src/test/java/mops/utils/KeycloakContext.java
  src/test/java/mops/utils/TestContext.java
Labels: test

#133 ADD: java doc link
  README.md
Labels: documentation

#122 ADD: Feature/directory service
  build.gradle
  config/pmd/pmd.xml
  doc/documentation/02_architecture_constraints.adoc
  doc/documentation/05_building_block_view.adoc
  doc/documentation/08_design_decisions.adoc
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  src/main/java/mops/businesslogic/DirectoryService.java
  src/main/java/mops/businesslogic/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/FileInfoService.java
  src/main/java/mops/businesslogic/FileQuery.java
  src/main/java/mops/businesslogic/FileService.java
  src/main/java/mops/businesslogic/GroupService.java
  src/main/java/mops/businesslogic/PermissionService.java
  src/main/java/mops/businesslogic/RoleService.java
  src/main/java/mops/businesslogic/RoleServiceImpl.java
  src/main/java/mops/businesslogic/UserPermission.java
  src/main/java/mops/businesslogic/exception/DatabaseException.java
  src/main/java/mops/businesslogic/exception/DeleteAccessPermissionException.java
  src/main/java/mops/businesslogic/exception/ReadAccessPermissionException.java
  src/main/java/mops/businesslogic/exception/StorageLimitationException.java
  src/main/java/mops/businesslogic/exception/WriteAccessPermissionException.java
  src/main/java/mops/config/KeycloakConfig.java
  src/main/java/mops/persistence/DirectoryRepository.java
  src/main/java/mops/persistence/directory/DirectoryBuilder.java
  src/main/java/mops/persistence/file/FileInfoBuilder.java
  src/main/java/mops/persistence/permission/DirectoryPermissions.java
  src/main/java/mops/persistence/permission/DirectoryPermissionsBuilder.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/java/mops/presentation/GroupController.java
  src/main/java/mops/utils/AggregateBuilder.java
  src/main/java/mops/utils/AggregateRoot.java
  src/main/resources/schema.sql
  src/test/java/mops/ArchitectureRuleConfig.java
  src/test/java/mops/Material1ApplicationTests.java
  src/test/java/mops/SecurityTests.java
  src/test/java/mops/architecture/ArchitectureRuleConfig.java
  src/test/java/mops/architecture/ArchitectureRulesTest.java
  src/test/java/mops/architecture/HaveExactlyOneAggregateRoot.java
  src/test/java/mops/architecture/LayeredArchitectureTest.java
  src/test/java/mops/businesslogic/DirectoryServiceTest.java
  src/test/java/mops/businesslogic/RoleServiceTest.java
  src/test/java/mops/businesslogic/utils/AccountUtilTest.java
  src/test/java/mops/persistence/DirectoryRepositoryTest.java
  src/test/java/mops/persistence/FileRepositoryTests.java
  src/test/java/mops/persistence/directory/DirectoryTest.java
  src/test/java/mops/persistence/file/FileInfoTest.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
  src/test/java/mops/presentation/FileControllerTest.java
Labels: business, enhancement

#138 ADD: ArchTests for Services
  src/test/java/mops/architecture/ArchitectureRulesTest.java
Labels: ArchTest, enhancement, test

#139 FIX: old GroupDirUrlWrapper now returns the correct root dir url
  src/main/java/mops/businesslogic/GroupDirUrlWrapper.java
  src/main/java/mops/businesslogic/GroupRootDirWrapper.java
  src/main/java/mops/businesslogic/GroupService.java
  src/main/java/mops/presentation/GroupController.java
  src/test/java/mops/presentation/GroupControllerTest.java
Labels: bug

#142 ADD: Feature/file info service
  src/main/java/mops/businesslogic/FileInfoService.java
  src/main/java/mops/businesslogic/FileInfoServiceImpl.java
  src/main/java/mops/persistence/FileInfoRepository.java
  src/test/java/mops/businesslogic/FileInfoServiceTest.java
Labels: business

#144 FIX: test and service implementation of FileInfoService
  .idea/runConfigurations/abschlussprojekt_mopse__documentation_.xml
  src/main/java/mops/businesslogic/FileInfoService.java
  src/main/java/mops/businesslogic/FileInfoServiceImpl.java
  src/main/java/mops/businesslogic/exception/DatabaseException.java
  src/main/java/mops/persistence/FileInfoRepository.java
  src/test/java/mops/businesslogic/FileInfoServiceTest.java
Labels: bug

#141 ADD: Feature/file query
  src/main/java/mops/businesslogic/FileQuery.java
  src/main/java/mops/businesslogic/FileQueryBuilder.java
  src/main/java/mops/persistence/file/FileInfo.java
  src/test/java/mops/businesslogic/FileQueryTest.java
Labels: business, enhancement

#147 FIX: .gitignore
  .gitignore
Labels: bug

#148 REMOVE: unnecessary files
  .github/workflows/documentation.yml
  .idea/runConfigurations/abschlussprojekt_mopse__documentation_.xml
  api/external-api.html
Labels: bug

#160 UPDATE: Documentation fixes: grammar, speech, explanations
  doc/documentation/01_introduction_and_goals.adoc
  doc/documentation/04_solution_strategy.adoc
  doc/documentation/08_design_decisions.adoc
Labels: documentation

#171 ADD: Combination Test for File Query
  src/main/java/mops/businesslogic/FileQueryBuilder.java
  src/test/java/mops/businesslogic/FileQueryTest.java
Labels: business, test

#176 Add/file service
  src/main/java/mops/businesslogic/FileServiceImpl.java
  src/main/java/mops/businesslogic/exception/FileNotFoundException.java
  src/test/java/mops/businesslogic/FileServiceTest.java
Labels: business

#168 Feature: File Query Parser
  src/main/java/mops/businesslogic/DirectoryService.java
  src/main/java/mops/businesslogic/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/FileQueryBuilder.java
  src/main/java/mops/businesslogic/config/ConverterRegistry.java
  src/main/java/mops/businesslogic/query/FileQuery.java
  src/main/java/mops/businesslogic/query/FileQueryBuilder.java
  src/main/java/mops/businesslogic/query/FileQueryConverter.java
  src/main/java/mops/persistence/config/DatabaseConfig.java
  src/main/java/mops/persistence/file/FileInfo.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/java/mops/presentation/GroupController.java
  src/test/java/mops/architecture/ArchitectureRulesTest.java
  src/test/java/mops/businesslogic/DirectoryServiceTest.java
  src/test/java/mops/businesslogic/FileServiceTest.java
  src/test/java/mops/businesslogic/query/FileQueryParserTest.java
  src/test/java/mops/businesslogic/query/FileQueryTest.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
Labels: business

#165 ADD: Feature/logging
  config/pmd/pmd.xml
  doc/documentation/04_solution_strategy.adoc
  src/main/java/mops/businesslogic/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/FileInfoServiceImpl.java
  src/main/java/mops/businesslogic/RoleServiceImpl.java
  src/main/java/mops/persistence/FileRepository.java
  src/main/java/mops/persistence/directory/DirectoryBuilder.java
  src/main/java/mops/persistence/file/FileInfoBuilder.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/java/mops/presentation/FileController.java
  src/main/java/mops/presentation/GroupController.java
  src/main/java/mops/presentation/GroupsController.java
Labels: business, enhancement, presentation

#166 ADD: HTML Forms
  src/main/java/mops/businesslogic/FileQueryForm.java
  src/main/java/mops/businesslogic/query/FileQueryBuilder.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/resources/templates/directory.html
  src/main/resources/templates/files.html
  src/main/resources/templates/groups.html
  src/test/java/mops/presentation/DirectoryControllerTest.java
Labels: enhancement, web

#188 FIX: setUp to setup for consistency for tests
  src/test/java/mops/businesslogic/FileServiceTest.java
  src/test/java/mops/businesslogic/query/FileQueryTest.java
Labels: enhancement, fix

#187 Fix/keycloak
  build.gradle
  src/main/java/mops/config/KeycloakConfig.java
  src/main/java/mops/config/SecurityConfig.java
  src/main/java/mops/presentation/GroupController.java
  src/main/resources/application.properties
  src/test/java/mops/presentation/GroupControllerTest.java
Labels: fix

#185 ADD: basic dev implementation for permission service
  src/main/java/mops/businesslogic/PermissionService.java
  src/main/java/mops/businesslogic/PermissionServiceDevImpl.java
  src/test/java/mops/businesslogic/RoleServiceTest.java
Labels: business

#177 ADD: Feature/permission service
  src/main/java/mops/businesslogic/GruppenFindungException.java
  src/main/java/mops/businesslogic/PermissionServiceProdImpl.java
  src/test/java/mops/businesslogic/PermissionServiceTest.java
Labels: business

#192 ADD: documentation for permission service
  doc/documentation/03_system_scope_and_context.adoc
Labels: documentation

#193 ADD: make it work!
  .idea/runConfigurations/Material1Application___prod.xml
  docker-compose.yml
  src/main/java/mops/businesslogic/DirectoryService.java
  src/main/java/mops/businesslogic/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/GroupServiceImpl.java
  src/main/java/mops/config/KeycloakConfig.java
  src/main/java/mops/config/SecurityConfig.java
  src/main/resources/application-prod.properties
  src/test/java/mops/businesslogic/DirectoryServiceTest.java
  src/test/java/mops/businesslogic/PermissionServiceTest.java
Labels: business, database, enhancement, presentation

#198 HOTFIX: fix tests
  src/main/java/mops/config/KeycloakConfig.java
  src/main/java/mops/persistence/directory/Directory.java
  src/main/java/mops/persistence/file/FileInfo.java
  src/main/java/mops/persistence/permission/DirectoryPermissions.java
  src/main/resources/schema.sql
  src/test/java/mops/persistence/directory/DirectoryTest.java
  src/test/java/mops/persistence/file/FileInfoTest.java
  src/test/java/mops/persistence/permission/DirectoryPermissionsTest.java
Labels: bug, fix, test

#199 ADD: local run instructions to readme
  .gitignore
  .idea/runConfigurations/All_Tests.xml
  .idea/runConfigurations/Material1Application___dev.xml
  .idea/runConfigurations/Material1Application___prod__local_.xml
  .idea/runConfigurations/docker_compose_dev_yml__MinIO.xml
  .idea/runConfigurations/docker_compose_yml__Deploy_All.xml
  README.md
  docker-compose.dev.yml
  prod-template.env
  src/main/resources/META-INF/additional-spring-configuration-metadata.json
  src/main/resources/application-prod.properties
  src/main/resources/application.properties
Labels: documentation

#202 FIX: readme typos
  README.md
Labels: fix

#205 FIX: get or create root
  src/main/java/mops/businesslogic/DirectoryService.java
  src/main/java/mops/businesslogic/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/GroupService.java
  src/main/java/mops/businesslogic/GroupServiceImpl.java
  src/main/java/mops/persistence/DirectoryRepository.java
  src/main/java/mops/presentation/GroupController.java
  src/test/java/mops/businesslogic/DirectoryServiceTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
Labels: enhancement, fix

#209 FIX: extend timeout
  src/test/java/mops/persistence/FileRepositoryTests.java
Labels: fix

#197 ADD: Feature get all groups of user
  src/main/java/mops/businesslogic/Group.java
  src/main/java/mops/businesslogic/GroupServiceDevImpl.java
  src/main/java/mops/businesslogic/GroupServiceProdImpl.java
  src/main/java/mops/businesslogic/PermissionServiceProdImpl.java
  src/main/resources/application.properties
  src/test/java/mops/businesslogic/GroupServiceTest.java
  src/test/java/mops/businesslogic/PermissionServiceTest.java
Labels: business

#214 UPDATE: hotfix/Typo
  src/main/java/mops/businesslogic/Group.java
Labels: documentation

#208 FEATURE: Prometheus for each group
  src/main/java/mops/businesslogic/DirectoryService.java
  src/main/java/mops/businesslogic/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/FileInfoService.java
  src/main/java/mops/businesslogic/FileInfoServiceImpl.java
  src/main/java/mops/businesslogic/GroupService.java
  src/main/java/mops/businesslogic/GroupServiceDevImpl.java
  src/main/java/mops/businesslogic/GroupServiceProdImpl.java
  src/main/java/mops/businesslogic/prometheus/PrometheusComponent.java
  src/main/java/mops/persistence/DirectoryRepository.java
  src/main/java/mops/persistence/FileInfoRepository.java
  src/test/java/mops/businesslogic/DirectoryServiceTest.java
  src/test/java/mops/businesslogic/GroupServiceTest.java
  src/test/java/mops/persistence/DirectoryRepositoryTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
Labels: business

#219 ADD: Doc/group service
  doc/documentation/03_system_scope_and_context.adoc
  doc/documentation/05_building_block_view.adoc
Labels: business, documentation

#210 Feature/dummy data
  src/main/java/mops/DummyDataSeeding.java
  src/main/java/mops/businesslogic/GroupServiceDevImpl.java
  src/main/java/mops/businesslogic/PermissionServiceDevImpl.java
  src/test/java/mops/architecture/LayeredArchitectureTest.java
Labels: database

#224 FIX: Hotfix/method names
  doc/documentation/03_system_scope_and_context.adoc
  src/main/java/mops/businesslogic/GroupService.java
  src/main/java/mops/businesslogic/GroupServiceDevImpl.java
  src/main/java/mops/businesslogic/GroupServiceProdImpl.java
  src/main/java/mops/presentation/GroupsController.java
  src/test/java/mops/businesslogic/GroupServiceTest.java
  src/test/java/mops/presentation/GroupsControllerTest.java
Labels: business

#220 ADD: env vars
  src/main/java/mops/businesslogic/DirectoryServiceImpl.java
  src/main/resources/application.properties
  template.env
Labels: business, enhancement

#222 FIX: add new gauges when there are new groups.
  src/main/java/mops/businesslogic/prometheus/PrometheusComponent.java
  src/main/java/mops/config/SchedulingConfig.java
  src/main/java/mops/persistence/DirectoryRepository.java
  src/main/java/mops/persistence/FileInfoRepository.java
Labels: bug, fix

#226 HOTFIX: env var name in template
  template.env
Labels: docker, documentation, fix

#232 HOTFIX: dummy data initialization
  src/main/java/mops/DummyDataSeeding.java
  src/main/java/mops/businesslogic/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/GroupServiceDevImpl.java
  src/main/java/mops/businesslogic/PermissionServiceDevImpl.java
  src/main/java/mops/persistence/FileRepository.java
  src/test/java/mops/architecture/LayeredArchitectureTest.java
  src/test/java/mops/persistence/file/FileInfoTest.java
Labels: bug, fix

#238 REFACTOR: services
  doc/documentation/03_system_scope_and_context.adoc
  doc/documentation/05_building_block_view.adoc
  doc/documentation/08_design_decisions.adoc
  src/main/java/mops/businesslogic/config/DummyDataSeeding.java
  src/main/java/mops/businesslogic/directory/DirectoryService.java
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/file/FileInfoServiceImpl.java
  src/main/java/mops/businesslogic/file/FileServiceImpl.java
  src/main/java/mops/businesslogic/group/GroupRootDirWrapper.java
  src/main/java/mops/businesslogic/group/GroupService.java
  src/main/java/mops/businesslogic/group/GroupServiceDevImpl.java
  src/main/java/mops/businesslogic/group/GroupServiceProdImpl.java
  src/main/java/mops/businesslogic/permission/PermissionService.java
  src/main/java/mops/businesslogic/permission/PermissionServiceImpl.java
  src/main/java/mops/businesslogic/permission/package-info.java
  src/main/java/mops/businesslogic/prometheus/PrometheusComponent.java
  src/main/java/mops/businesslogic/security/Account.java
  src/main/java/mops/businesslogic/security/PermissionService.java
  src/main/java/mops/businesslogic/security/PermissionServiceDevImpl.java
  src/main/java/mops/businesslogic/security/PermissionServiceProdImpl.java
  src/main/java/mops/businesslogic/security/SecurityService.java
  src/main/java/mops/businesslogic/security/SecurityServiceImpl.java
  src/main/java/mops/persistence/FileRepository.java
  src/main/java/mops/persistence/config/FileRepositoryConfig.java
  src/main/java/mops/persistence/directory/DirectoryBuilder.java
  src/main/java/mops/persistence/permission/DirectoryPermissionsBuilder.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/java/mops/presentation/GroupController.java
  src/test/java/mops/businesslogic/directory/DirectoryServiceTest.java
  src/test/java/mops/businesslogic/file/FileServiceTest.java
  src/test/java/mops/businesslogic/file/GarbageCollectorTest.java
  src/test/java/mops/businesslogic/group/GroupServiceTest.java
  src/test/java/mops/businesslogic/security/PermissionServiceTest.java
  src/test/java/mops/businesslogic/security/SecurityServiceTest.java
  src/test/java/mops/persistence/FileRepositoryTest.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
Labels: business

#230 UPDATE: Documentation glossary and fixes
  doc/documentation/03_system_scope_and_context.adoc
  doc/documentation/04_solution_strategy.adoc
  doc/documentation/05_building_block_view.adoc
  doc/documentation/08_design_decisions.adoc
  doc/documentation/10_glossary.adoc
Labels: documentation

#241 CHANGE: use postgresql in dev
  README.md
  build.gradle
  doc/documentation/04_solution_strategy.adoc
  docker-compose.yml
  src/main/java/mops/businesslogic/config/DummyDataSeeding.java
  src/main/resources/application-dev.properties
  src/main/resources/schema.sql
  src/test/resources/schema.sql
Labels: database, enhancement

#249 HOTFIX: make seeder smart about existing data
  src/main/java/mops/businesslogic/config/DummyDataSeeding.java
Labels: database

#252 FIX: check for empty strings
  src/main/java/mops/presentation/form/FileQueryForm.java
  src/test/java/mops/presentation/form/FileQueryFormTest.java
Labels: bug

#260 ADD: Creation Date in HTML
  src/main/resources/templates/directory.html
  src/main/resources/templates/files.html
Labels: enhancement

#270 ADD: Owner to directory and search view. Fix Date TBD Bug
  src/main/resources/templates/directory.html
  src/main/resources/templates/files.html
Labels: enhancement, fix

#271 FIX: orga gets delete perms
  src/main/java/mops/businesslogic/config/DummyDataSeeding.java
  src/main/java/mops/businesslogic/group/GroupServiceDevImpl.java
  src/test/java/mops/businesslogic/directory/DirectoryServiceTest.java
Labels: bug

#259 UPDATE: Feature/update directory permissions
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/permission/PermissionService.java
  src/main/java/mops/businesslogic/permission/PermissionServiceImpl.java
  src/test/java/mops/businesslogic/directory/DirectoryServiceTest.java
  src/test/java/mops/persistence/permission/DirectoryPermissionsTest.java
Labels: bug, business

#272 HOTFIX: web fixes
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/file/FileServiceImpl.java
  src/main/java/mops/persistence/file/FileInfoBuilder.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/java/mops/presentation/GroupController.java
  src/main/resources/templates/directory.html
  src/main/resources/templates/file.html
  src/main/resources/templates/files.html
  src/main/resources/templates/groups.html
  src/test/java/mops/presentation/GroupControllerTest.java
Labels: presentation, web

#273 FIX: SQL statements
  src/main/java/mops/persistence/FileInfoRepository.java
Labels: database, fix

#274 FEATURE: Garbage collector: remove "no directory"-orphans
  src/main/java/mops/businesslogic/GarbageCollector.java
  src/main/java/mops/businesslogic/file/FileInfoService.java
  src/main/java/mops/businesslogic/file/FileInfoServiceImpl.java
  src/main/java/mops/persistence/FileInfoRepository.java
Labels: enhancement

#283 UPDATE: More statusmessages & error Template enhancement
  src/main/java/mops/presentation/ExceptionController.java
  src/main/resources/static/mops_error.jpg
  src/main/resources/templates/mops_error.html
Labels: bug, enhancement, presentation, web

#282 ADD: Directory Path Display
  src/main/java/mops/businesslogic/directory/DirectoryService.java
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/resources/templates/directory.html
  src/test/java/mops/businesslogic/directory/DirectoryServiceTest.java
Labels: enhancement

#278 UPDATE: logout
  README.md
Labels: documentation

#284 FEATURE: directory edit
  src/main/java/mops/businesslogic/directory/DirectoryService.java
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/security/SecurityService.java
  src/main/java/mops/businesslogic/security/SecurityServiceImpl.java
  src/main/java/mops/businesslogic/security/UserPermission.java
  src/main/java/mops/persistence/permission/DirectoryPermissions.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/java/mops/presentation/ExceptionController.java
  src/main/java/mops/presentation/form/EditDirectoryForm.java
  src/main/java/mops/presentation/form/RolePermissionsForm.java
  src/main/resources/templates/directory.html
  src/test/java/mops/presentation/DirectoryControllerTest.java
Labels: presentation, web

#291 FIX: remove folders without reading permission
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
Labels: bug

#292 FEATURE: demo docker compose
  .gitignore
  .idea/runConfigurations/Material1Application___prod.xml
  .idea/runConfigurations/Material1Application___prod__local_.xml
  .idea/runConfigurations/docker_compose_dev_yml__MinIO.xml
  .idea/runConfigurations/docker_compose_yml__Deploy_All.xml
  .idea/runConfigurations/docker_compose_yml__PostgreSQL___MinIO.xml
  Dockerfile
  LICENSE-wait-for-it
  README.md
  dev.env
  doc/documentation/04_solution_strategy.adoc
  docker-compose.demo.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  prod.env
  src/main/java/mops/businesslogic/exception/GruppenFindungException.java
  src/main/java/mops/businesslogic/group/GroupServiceProdImpl.java
  src/main/resources/application-dev.properties
  src/main/resources/application-prod.properties
  src/main/resources/application.properties
  template.env
  update_docker_images.bat
  update_docker_images.sh
  wait-for-it.sh
Labels: docker, documentation

#293 UPDATE: match image and bar width
  src/main/resources/templates/mops_error.html
Labels: web

#297 ADD: Bootstrap
  src/main/resources/static/script.js
  src/main/resources/static/style.css
  src/main/resources/static/style.css.map
  src/main/resources/static/style.scss
  src/main/resources/templates/directory.html
Labels: enhancement, web

#253 CHANGE: adhere to gruppen1 API
  README.md
  config/pmd/pmd.xml
  dev.env
  doc/documentation/03_system_scope_and_context.adoc
  doc/documentation/05_building_block_view.adoc
  src/main/java/mops/businesslogic/GarbageCollector.java
  src/main/java/mops/businesslogic/config/DummyDataSeeding.java
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/event/LatestEventIdService.java
  src/main/java/mops/businesslogic/event/package-info.java
  src/main/java/mops/businesslogic/exception/DatabaseDuplicationException.java
  src/main/java/mops/businesslogic/exception/GruppenFindungException.java
  src/main/java/mops/businesslogic/exception/GruppenfindungsException.java
  src/main/java/mops/businesslogic/group/Group.java
  src/main/java/mops/businesslogic/group/GroupService.java
  src/main/java/mops/businesslogic/group/GroupServiceDevImpl.java
  src/main/java/mops/businesslogic/group/GroupServiceImpl.java
  src/main/java/mops/businesslogic/group/GroupServiceProdImpl.java
  src/main/java/mops/businesslogic/gruppenfindung/GroupDTO.java
  src/main/java/mops/businesslogic/gruppenfindung/GroupUpdater.java
  src/main/java/mops/businesslogic/gruppenfindung/GruppenfindungsService.java
  src/main/java/mops/businesslogic/gruppenfindung/StatusDTO.java
  src/main/java/mops/businesslogic/gruppenfindung/UpdatedGroupsDTO.java
  src/main/java/mops/businesslogic/gruppenfindung/UserDTO.java
  src/main/java/mops/businesslogic/gruppenfindung/package-info.java
  src/main/java/mops/businesslogic/prometheus/PrometheusComponent.java
  src/main/java/mops/businesslogic/security/SecurityServiceImpl.java
  src/main/java/mops/exception/ImpossibleException.java
  src/main/java/mops/persistence/DirectoryRepository.java
  src/main/java/mops/persistence/GroupRepository.java
  src/main/java/mops/persistence/LatestEventIdRepository.java
  src/main/java/mops/persistence/directory/DirectoryBuilder.java
  src/main/java/mops/persistence/event/LatestEventId.java
  src/main/java/mops/persistence/event/package-info.java
  src/main/java/mops/persistence/file/FileInfo.java
  src/main/java/mops/persistence/group/Group.java
  src/main/java/mops/persistence/group/GroupBuilder.java
  src/main/java/mops/persistence/group/GroupMember.java
  src/main/java/mops/persistence/group/package-info.java
  src/main/java/mops/persistence/permission/DirectoryPermissions.java
  src/main/java/mops/presentation/GroupsController.java
  src/main/resources/application.properties
  src/main/resources/schema.sql
  src/test/java/mops/SecurityTests.java
  src/test/java/mops/businesslogic/directory/DirectoryServiceTest.java
  src/test/java/mops/businesslogic/file/FileInfoServiceTest.java
  src/test/java/mops/businesslogic/file/GarbageCollectorTest.java
  src/test/java/mops/businesslogic/group/GroupServiceTest.java
  src/test/java/mops/businesslogic/gruppenfindung/GroupUpdaterTest.java
  src/test/java/mops/businesslogic/security/PermissionServiceTest.java
  src/test/java/mops/businesslogic/security/SecurityServiceTest.java
  src/test/java/mops/persistence/DirectoryRepositoryTest.java
  src/test/java/mops/persistence/GroupRepositoryTest.java
  src/test/java/mops/persistence/directory/DirectoryTest.java
  src/test/java/mops/persistence/file/FileInfoTest.java
  src/test/java/mops/persistence/permission/DirectoryPermissionsTest.java
  src/test/java/mops/presentation/ExceptionControllerTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
  src/test/java/mops/presentation/GroupsControllerTest.java
  src/test/resources/schema.sql
Labels: business

#312 FEATURE: sort folders and files
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/file/FileInfoServiceImpl.java
  src/main/java/mops/persistence/directory/Directory.java
  src/main/java/mops/persistence/file/FileInfo.java
  src/main/resources/templates/directory.html
Labels: business, presentation, web

#313 ADD: Feature/ZipService
  doc/documentation/04_solution_strategy.adoc
  src/main/java/mops/businesslogic/directory/ZipService.java
  src/main/java/mops/businesslogic/directory/ZipServiceImpl.java
  src/main/java/mops/businesslogic/exception/MopsZipsException.java
  src/test/java/mops/businesslogic/directory/ZipServiceTest.java
  src/test/resources/static/deepZip.zip
  src/test/resources/static/deepZip/bottom/test_image.jpg
  src/test/resources/static/deepZip/test_image.jpg
  src/test/resources/static/root.zip
  src/test/resources/static/root/test_image.jpg
Labels: business, enhancement

#315 ADD: readme paragraph how to start the application in production
  README.md
  docker-compose.prod.yml
Labels: docker, documentation

#316 FEATURE: dropdown menu
  src/main/resources/templates/overview.html
Labels: enhancement, web

#317 ADD: logout and index redirection
  src/main/java/mops/presentation/Material1Controller.java
  src/main/resources/templates/mops_error.html
  src/main/resources/templates/overview.html
Labels: presentation

#318 ADD: Feature/zip route
  src/main/java/mops/presentation/DirectoryController.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
Labels: presentation

#319 HOTFIX: fix test and javadoc and anamoly
  src/main/java/mops/presentation/DirectoryController.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
Labels: bug, test

#320 ADD: change root directory name to group name
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/group/GroupService.java
  src/main/java/mops/businesslogic/group/GroupServiceImpl.java
  src/main/java/mops/persistence/directory/DirectoryBuilder.java
  src/main/java/mops/persistence/file/FileInfoBuilder.java
  src/main/resources/schema.sql
  src/test/java/mops/businesslogic/directory/DirectoryServiceTest.java
  src/test/java/mops/businesslogic/security/PermissionServiceTest.java
  src/test/java/mops/businesslogic/security/SecurityServiceTest.java
  src/test/java/mops/persistence/DirectoryRepositoryTest.java
  src/test/java/mops/persistence/directory/DirectoryTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
  src/test/resources/schema.sql
Labels: business

#322 FEATURE: delete service
  src/main/java/mops/businesslogic/GarbageCollector.java
  src/main/java/mops/businesslogic/config/DummyDataSeeding.java
  src/main/java/mops/businesslogic/directory/DeleteService.java
  src/main/java/mops/businesslogic/directory/DeleteServiceImpl.java
  src/main/java/mops/businesslogic/directory/DirectoryService.java
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/permission/PermissionServiceImpl.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/resources/templates/overview.html
  src/test/java/mops/businesslogic/directory/DeleteServiceTest.java
  src/test/java/mops/businesslogic/directory/DirectoryServiceTest.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
Labels: business

#323 ADD: zip service doc
  doc/documentation/05_building_block_view.adoc
Labels: documentation

#326 ADD: env vars documentation
  doc/documentation/04_solution_strategy.adoc
  prod.env
Labels: documentation

#330 ADD: total group count prometheus stat
  doc/documentation/03_system_scope_and_context.adoc
  src/main/java/mops/businesslogic/group/GroupService.java
  src/main/java/mops/businesslogic/group/GroupServiceImpl.java
  src/main/java/mops/businesslogic/prometheus/PrometheusComponent.java
Labels: business

#335 Doc: test
  src/main/java/mops/presentation/FileController.java
  src/main/java/mops/presentation/form/EditDirectoryForm.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
  src/test/java/mops/presentation/FileControllerTest.java
  src/test/java/mops/presentation/GroupControllerTest.java
Labels: documentation

#332 ADD: new routes
  doc/documentation/05_building_block_view.adoc
  src/test/java/mops/presentation/FileControllerTest.java
Labels: documentation

#338 FIX: prometheus group leak
  src/main/java/mops/businesslogic/prometheus/PrometheusComponent.java
Labels: bug, fix

#337 UPDATE: The complete documentation
  doc/api/external-api.adoc
  doc/documentation.adoc
  doc/documentation/02_architecture_constraints.adoc
  doc/documentation/03_system_scope_and_context.adoc
  doc/documentation/04_solution_strategy.adoc
  doc/documentation/05_building_block_view.adoc
  doc/documentation/06_runtime_view.adoc
  doc/documentation/07_concepts.adoc
  doc/documentation/08_design_decisions.adoc
  doc/documentation/09_quality_scenarios.adoc
  doc/documentation/10_glossary.adoc
  doc/documentation/images/05_building_blocks-DE.png
  doc/documentation/images/08-Crosscutting-Concepts-Structure-DE.png
  doc/documentation/images/Ebene1.png
  doc/documentation/images/Ebene2.png
  doc/documentation/images/Gesamtabgrenzung.png
  doc/documentation/images/Gesamtuebersicht.png
  doc/documentation/images/arc42-logo.png
Labels: documentation

#342 FIX: missing underscore
  doc/documentation/05_building_block_view.adoc
Labels: documentation

#343 Revert "FIX: missing underscore"
  doc/documentation/05_building_block_view.adoc
Labels: bug, documentation

#344 FIX: groups template
  src/main/resources/templates/groups.html
  src/main/resources/templates/mops_error.html
  src/main/resources/templates/overview.html
Labels: web

#345 FIX: broken template
  src/main/java/mops/presentation/DirectoryController.java
  src/main/resources/static/script.js
  src/main/resources/templates/groups.html
  src/main/resources/templates/mops_error.html
  src/main/resources/templates/overview.html
Labels: web

#348 FEATURE: modal dialog
  src/main/java/mops/presentation/DirectoryController.java
  src/main/resources/static/script.js
  src/main/resources/templates/overview.html
Labels: web

#349 ADD: goto button from search view
  src/main/java/mops/presentation/DirectoryController.java
  src/main/resources/static/css/style.css
  src/main/resources/static/css/style.css.map
  src/main/resources/static/css/style.scss
  src/main/resources/static/img/arrow-90deg-up.svg
  src/main/resources/static/img/download.svg
  src/main/resources/static/img/list.svg
  src/main/resources/static/img/mops_error.png
  src/main/resources/static/js/script.js
  src/main/resources/templates/groups.html
  src/main/resources/templates/mops_error.html
  src/main/resources/templates/overview.html
Labels: web

#353 ADD: dropdown menu for current directory
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/resources/static/img/arrow-90deg-up.svg
  src/main/resources/static/img/download.svg
  src/main/resources/static/img/list.svg
  src/main/resources/templates/overview.html
Labels: web

#351 ADD: renaming tests
  src/test/java/mops/businesslogic/directory/DirectoryServiceTest.java
  src/test/java/mops/businesslogic/file/FileServiceTest.java
Labels: test

#354 ADD: controller tests for renaming
  doc/documentation/05_building_block_view.adoc
  src/main/java/mops/presentation/DirectoryController.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
  src/test/java/mops/presentation/FileControllerTest.java
Labels: documentation, test
