Repository hhu-propra2/abschlussprojekt-mopse, pull requests merged in 2020-04, with the labels that each got.

#356 ADD: backend for file availability limits
  doc/documentation/05_building_block_view.adoc
  src/main/java/mops/businesslogic/file/FileServiceImpl.java
  src/main/java/mops/businesslogic/time/TimeService.java
  src/main/java/mops/businesslogic/time/TimeServiceImpl.java
  src/main/java/mops/businesslogic/time/package-info.java
  src/main/java/mops/persistence/file/FileInfo.java
  src/main/java/mops/persistence/file/FileInfoBuilder.java
  src/main/resources/schema.sql
  src/test/java/mops/businesslogic/file/FileServiceTest.java
  src/test/resources/schema.sql
Labels: business

#357 ADD: internal admin role handling
  src/main/java/mops/businesslogic/security/SecurityService.java
  src/main/java/mops/businesslogic/security/SecurityServiceImpl.java
  src/main/resources/application.properties
Labels: business

#358 FEATURE: garbage collector final
  doc/documentation/05_building_block_view.adoc
  src/main/java/mops/businesslogic/GarbageCollector.java
  src/main/java/mops/businesslogic/directory/DirectoryService.java
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/file/FileInfoServiceImpl.java
  src/main/java/mops/businesslogic/file/FileService.java
  src/main/java/mops/businesslogic/file/FileServiceImpl.java
  src/main/java/mops/persistence/DirectoryRepository.java
  src/test/java/mops/businesslogic/GarbageCollectorTest.java
  src/test/java/mops/businesslogic/file/GarbageCollectorTest.java
Labels: business, enhancement

#359 REMOVE: generic eception catching
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/event/LatestEventIdService.java
  src/main/java/mops/businesslogic/file/FileInfoServiceImpl.java
  src/main/java/mops/businesslogic/group/GroupServiceImpl.java
  src/main/java/mops/businesslogic/gruppenbildung/GruppenbildungsService.java
  src/main/java/mops/businesslogic/permission/PermissionServiceImpl.java
  src/main/java/mops/persistence/FileRepository.java
Labels: fix

#360 FIX: correct buttons in the file/search view
  doc/documentation/05_building_block_view.adoc
  doc/documentation/10_glossary.adoc
  src/main/java/mops/businesslogic/directory/DeleteServiceImpl.java
  src/main/java/mops/businesslogic/directory/DirectoryService.java
  src/main/java/mops/businesslogic/directory/DirectoryServiceImpl.java
  src/main/java/mops/businesslogic/directory/ZipServiceImpl.java
  src/main/java/mops/businesslogic/file/FileListEntry.java
  src/main/java/mops/businesslogic/file/FileService.java
  src/main/java/mops/businesslogic/file/FileServiceImpl.java
  src/main/java/mops/businesslogic/search/SearchService.java
  src/main/java/mops/businesslogic/search/SearchServiceImpl.java
  src/main/java/mops/businesslogic/search/package-info.java
  src/main/java/mops/persistence/directory/Directory.java
  src/main/java/mops/presentation/DirectoryController.java
  src/main/resources/templates/overview.html
  src/test/java/mops/businesslogic/directory/DirectoryServiceTest.java
  src/test/java/mops/businesslogic/directory/ZipServiceTest.java
  src/test/java/mops/businesslogic/search/SearchServiceTest.java
  src/test/java/mops/presentation/DirectoryControllerTest.java
Labels: business, fix

#363 UPDATE: doc image
  doc/documentation/images/ER-Modell.png
  doc/documentation/images/Ebene2.png
Labels: documentation

#365 FIX: thymeleaf oddity
  src/main/resources/templates/overview.html
Labels: fix
